@charset "UTF-8";
@import "style.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top{
    background-color: rgb(225, 255, 143);
    background-size: contain;
    height: 800px;
}
.top__content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.top__title{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    height: 78px;
    letter-spacing 0px;
    Align:left;
    width: 768px;
    padding-left: 120px;
    padding-top: 196px;
}
.top__text{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    height: 32px;
    letter-spacing 0px;
    Align:left;
    width: 720px;
    padding-left: 120px;
    padding-top: 96px;
}
.top__button-link{
    background-color: rgb(32, 32, 39);
    height: 66px;
    width: 247px;
    padding: 16px 28px;
    border-radius: 40px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-top: 68px;
    margin-left: 120px;
}

.title{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    height: 78px;
    letter-spacing: 0px;
    Align: left;
    color: rgb(255, 255, 255);
    padding-top: 94px;
    padding-left: 119px;
}
.game__menu-text{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
    Align: left;
    color: rgb(255, 255, 255);
    width: 788px;
    height: 96px;
    padding-top: 24px;
    padding-left: 119px;
}
.game__menu{
    background-color: rgb(32, 32, 39);
    background-size: contain;
    height: 1470px;
}
.menu-cards{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    gap: 32px;
}
.menu-card{
    display: grid;
    grid-column: span 4;
    background-color: rgb(255, 255, 255);
}
.game__catalog{
    background-color: rgb(32, 32, 39);
    background-size: contain;
    height: 3500px;
}

footer{
    background-color: rgb(189, 237, 53);
    background-size: contain;
    height: 150px;
}

.footer__title{
    font-family: Montserrat;
    font-weight: 600;
    Font-size: 24px;
    height: 29px;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 61px;
}